@model IEnumerable<Employee>
@{
    @*var employees = ViewData["employees"] as IEnumerable<Employee>;*@
ViewBag.Title = "Employee list";

}

    <div class="row">
        @foreach (var emp in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>@emp.FullName</h2>
                    </div>

                    <img src="@emp.AvatarPath" class="card-img-top" />

                    <div class="card-footer">
                        <a href="@Url.ActionLink("Details", "Home", new { id = emp.Id })" class="btn btn-info">View</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>


                    </div>
                </div>
            </div>

        }
    </div>


